name: Build Docker Image

on:
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest
    outputs: 
      test_status: ${{ job.status }}
    continue-on-error: true
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            backend:  
              - 'aws-rds/backend/**'
            frontend:
              - 'aws-rds/frontend/**'

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16.x'

      - name: Install dependencies and run test backend
        if: steps.filter.outputs.backend == 'true'
        run: npm ci && npm test
        working-directory: ./aws-rds/backend
      
      - name: Install dependencies and run test frontend
        if: steps.filter.outputs.frontend == 'true'
        run: npm ci && npm test
        working-directory: ./aws-rds/frontend/front

  docker-build:
    needs: test
    runs-on: ubuntu-latest
    outputs: 
      build_status: ${{ job.status }}
    continue-on-error: true
    steps: 
      - name: Checkout code
        uses: actions/checkout@v2

      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            backend:  
              - 'aws-rds/backend/**'
            frontend:
              - 'aws-rds/frontend/**'

      - name: login docker
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Set short SHA
        id: set_short_sha
        run: echo "SHORT_SHA=${GITHUB_SHA::7}" >> $GITHUB_ENV

      - name: Build Docker image backend
        id: build_back
        if: steps.filter.outputs.backend == 'true'
        run: |
          docker build --tag dves_api:latest aws-rds/backend/
          docker tag dves_api:latest henriquelr/dves_api:latest 
          docker tag dves_api:latest henriquelr/dves_api:${{ env.SHORT_SHA }} 

      - name: Build Docker image frontend
        id: build_front
        if: steps.filter.outputs.frontend == 'true'
        run: |
          docker build --tag meu-site-nginx:latest aws-rds/frontend/
          docker tag meu-site-ngin:latest henriquelr/meu-site-nginx:latest 
          docker tag meu-site-nginx:latest henriquelr/meu-site-nginx:${{ env.SHORT_SHA }}
  
  slack-message:
    needs: [test, docker-build] 
    runs-on: ubuntu-latest
    steps: 
      - name: Post to a Slack channel
        id: slack
        uses: slackapi/slack-github-action@v1.24.0
        with:
          channel-id: ${{ secrets.SLACK_PR_CHANNEL_ID }}
          payload: |
            {
              "text": "GitHub Action build result: ${{ job.status }}\n${{ github.event.pull_request.html_url || github.event.head_commit.url }}",
              "blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "GitHub Action build result: ${{ needs.docker-build.outputs.build_status }}\n${{ github.event.pull_request.html_url || github.event.head_commit.url }}"
                  }
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "GitHub Action build result: ${{ needs.test.outputs.test_status }}\n${{ github.event.pull_request.html_url || github.event.head_commit.url }}"
                  }
                }
              ]
            }
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}


